*,*::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    line-height: 1.6em;
}
h1,h2{
    font-family: Roboto,sans-serif;
    font-weight: 900;
    line-height: 1;
    color: #824936;
}
img{
    display:block;
    max-width: 100%;
}
.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
.container--narrow{
    max-width: 34rem;
}
.split{
    display: flex;
    flex-direction: column;
}
@media(min-width: 40em){
     .split{
         flex-direction: row;
     }
     .split > *{
         flex-basis: 100%;
     }
     .split > * + * {
         margin-left: 2em;
     }
}
header,section{
    padding: 4rem 0;
}
@media (min-width:40em){
    header,section{
        padding: 7rem 0;
    }
}
.text-center{
    text-align: center;
}
h2,h3,p{
    margin-bottom: 1em;
}
.bg-color{
    background: #F3EED9;
}
.bg-dark h2,.bg-primary h2{
    color: #F3EED9;
}
.bg-dark{
    background:#222C2A;
    color: white;
}
.bg-primary{
    background:#824936;
    color: white;
}